/* Ceci est le style de la page personnage: partie main */ 

.bloc-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: none;
}

.bloc-one {
    float: left;
}

.bloc-two {
    float: right;

}

.bloc-three {
    float: left;

}

h2 {
font-size: 1.5em;

}