/* Ceci est le style de la page personnage: partie main */ 
* {
    font-family: var(--first-font-familly);
}
.bloc-container h2{
    font-size: var(--title-size);
    color: var(--dark-color);
    text-decoration: none;
    text-shadow: none;
}