:root {
    --width-input: 40rem;
    --height-input:2.5rem;
    --width-textarea: 77rem;
    --margin:1rem 8rem 1rem 8rem;
    --margin-input:0.3rem; 
    --heigth-textarea: 10rem;
    --spacing5:3rem;
}
.banner-contact {
    
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background: url('../img/contact.jpeg') no-repeat fixed;
        background-size: cover;
        height: 90vh;
        margin-bottom: var(--spacing5);
    
    }
/*block label, champs nom et entreprise*/
 
.name-enterprise {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*label de name et entreprise*/

.name-enterprise label {
    color: var(--dark-color);
    font-family: var(--first-font-familly);
}

/*champs nom et entreprise*/

.name-enterprise input {
    width: var(--width-input);
    height: var(--height-input);
    margin-top: var(--margin-input);
    box-shadow: 2px 2px 1px var(--secondary-color);
    padding: var(--spacing);
}

/*bloc label, champ mail et phone*/

.mail-phone {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-top: 1rem; 
}

/* label de mail et phone*/

.mail-phone label {
    color: var(--dark-color);
    font-family: var(--first-font-familly);
}

/*input de mail et phone*/

.mail-phone input {
    width: var(--width-input);
    height: var(--height-input);
    margin-top: var(--margin-input);
    box-shadow: 2px 2px 1px var(--secondary-color);
    padding: var(--spacing);
}
input:focus {
    border-color: var(--primary-color);
  }

/*bloc message*/

.message {
    display: flex;
    justify-content: center;
    margin: var(--margin);
}

/*label de message*/

.message label {
    color: var(--dark-color);
    font-family: var(--first-font-familly);
   
}

/*zone de texte de message*/

.message textarea {
    width: var(--width-textarea);
    margin-top: var(--margin-input);
    box-shadow: 2px 2px 1px var(--secondary-color);
    height: var(--heigth-textarea);
    padding: var(--spacing);   
}
textarea:focus {
    border-color: var(--primary-color);
  }
/*texte dans les champs*/


  
/*block du bouton envoyer*/

.input-send {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
     
}

/*ce qui agit sur le bouton*/

.send {
    font-family: var(--second-font-familly);
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--light-color);
    background-color: var(--primary-color);
    width: 10rem;
    height: 4rem;
    border-radius: 10px 100px / 120px;
    box-shadow: 2px 2px 1px var(--secondary-color);
    font-size: var(--texte-font);
    font-weight: 900;
    cursor: pointer;
}

/*media querie*/



@media screen and (max-width: 669px) {
    .name-enterprise {
        flex-wrap: wrap;
       
    }

    .mail-phone {
        flex-wrap: wrap;
       
    }
    
    .message {
        flex-wrap: wrap;
        
    }
    
}