:root {
    --width-input: 40rem;
    --height-input:2.5rem;
    --width-textarea: 77rem;
    --margin:1rem 8rem 1rem 8rem;
    --margin-input:0.3rem; 
    --heigth-textarea: 10rem;
    --spacing5:3rem;
}
.banner-contact {
    
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background: url('../img/contact.jpeg') no-repeat fixed;
        background-size: cover;
        height: 90vh;
        margin-bottom: var(--spacing5);
    
    }
/*block label, champs nom et entreprise*/

form label {
     font-weight: 300;
}

.name-enterprise {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

/*label de name et entreprise*/

.name-enterprise label {
    color: var(--dark-color);
    font-family: var(--first-font-familly);
    font-size: var(--title-size);
}

/*champs nom et entreprise*/

.name-enterprise input {
    width: var(--width-input);
    height: var(--height-input);
    margin-top: var(--margin-input);
    box-shadow: 2px 2px 1px var(--secondary-color);
    padding: var(--spacing);
    padding-left: var(--spacing2);
    font-size: var(--spacing2);
    
    
}

/*bloc label, champ mail et phone*/

.mail-phone {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 1rem; 
    gap: 10rem;
}

/* label de mail et phone*/

.mail-phone label {
    color: var(--dark-color);
    font-family: var(--first-font-familly);
    font-size: var(--title-size);
}

/*input de mail et phone*/

.mail-phone input {
    width: var(--width-input);
    height: var(--height-input);
    margin-top: var(--margin-input);
    box-shadow: 2px 2px 1px var(--secondary-color);
    padding: var(--spacing);
    padding-left: var(--spacing2); 
    font-size: var(--spacing2);
    
}
input:focus {
    border-color: var(--primary-color);
    outline-style: none;
  }

/*bloc message*/

.message {
    display: flex;
    justify-content: center;
    margin: var(--margin);
}

/*label de message*/

.message label {
    color: var(--dark-color);
    font-family: var(--first-font-familly);
    font-size: var(--title-size);
   
}

/*zone de texte de message*/

.message textarea {
    width: var(--width-textarea);
    margin-top: var(--margin-input);
    box-shadow: 2px 2px 1px var(--secondary-color);
    height: var(--heigth-textarea);
    padding: var(--spacing);
    padding-left:var(--spacing);
    font-size: var(--spacing2);   
}

textarea:focus {
    border-color: var(--primary-color);
    outline-style: none;
  }
/*texte dans les champs*/


  
/*block du bouton envoyer*/

.input-send {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
     
}

/*ce qui agit sur le bouton*/

.send {
    font-family: var(--second-font-familly);
    text-align: center;
    color: var(--light-color);
    background-color: var(--secondary-color);
    border-color: var(--dark-color);
    width: 10rem;
    height: 4rem;
    border-radius: var(--spacing2);
    font-size: var(--texte-font);
    font-weight: 900;
    cursor: pointer;
}

.send:hover {
    filter: brightness(1.20);
}

.send:focus {
    border: solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
}





/*media querie*/



@media screen and (max-width: 669px) {
    .name-enterprise{
        flex-direction: column;
        gap: 0px;
        justify-content: center;
    }
    .name-enterprise input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 1.5rem;
        font-size: 13px;
    }
    .name-enterprise label {
        font-size: 22px;
    }
    .enterprise {
        margin-top: 10px;
    }

    .mail-phone {
        flex-direction: column;
        gap: 0px;
        justify-content: center;
    }
    .mail-phone input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 1.5rem;
        font-size: 13px;
    }
    .mail-phone label {
        font-size: 22px;
    }
    .phone {
        margin-top: 10px;
    }

    .message textarea {
        width: 14rem;
        height: 15rem;
        font-size: 13px;   
    }

    .message label {
        font-size: 22px;
    }

    .banner-contact {
        margin: 0;
        height: 40vh;
        background-position: center;
    } 
}

@media screen and (max-width: 360px) {

    .banner-contact {
        width: 100%;
        height: 40vh;
        background-position: right 50% bottom 50%;
        margin:0;
    } 
}