/* Ceci est le Styles de notre Première pages */

/*variable*/

@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


:root {
    --primary-color: #98D936;
    --secondary-color: #8F56B0;
    --light-color: #FDFDFD;
    --dark-color: #271C3D;

    /*A télécharger*/

    --first-font-familly: 'Prompt';
    --second-font-familly: 'Do Hyeon';

    /*a définir*/

    --title-size: 28px;
    --link-size: 2rem ;
    --texte-size: 1.5rem;
    --textesize-footer: 1rem;
    --texte-font: 1.7rem;
    

    /* ( 0.5rem = 8px ) */
    --spacing: 0.5rem;
    /* ( spacing 2 = 16px  ) */
    --spacing2: calc(2 * var(--spacing));
    /* ( spacing 3 = 24px  ) */
    --spacing3: calc(3 * var(--spacing));
    /* ( spacing 4 = 32px  ) */
    --spacing4: calc(4 * var(--spacing));
}

/* Début du code */


body {
    margin: 0 auto;
    background-color: var(--light-color);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header  */

.header {
    font-weight: 500;
    display: flex;
    height: 2rem;
    /* background-color: rgb(140, 157, 140); */
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* .top-page { height: 80vh;} */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    /* background-color: rgb(255, 215, 215); */
}

/* Texte à gauche de la nav  */

    .nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        /* background-color: rgb(255, 215, 215); */
    }
 
    /* Texte à gauche de la nav  */

     .buzz-nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: var(--secondary-color);
        font-family: var(--second-font-familly);
        text-decoration: none;
        font-size: var(--link-size);
        text-decoration: none;
        cursor: pointer;
    }
    .buzz-nav a:hover {
        color: #98D936;
        transition: 0.6s;
    }


/* Texte à droite de la nav  */

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
}

.menu a {
    display: flex;
    align-items: center;
    color: var(--dark-color);
    font-family: 'Prompt';
    font-size: var(--texte-size);
    text-decoration: none;
}


    .menu a:hover {
        color: #98D936;
        transition: 0.6s;
    }


/* Fin du Header  */

/* Img du Landing  */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    background: url('../img/Wallpaper.jpeg') no-repeat fixed;
    background-size: cover;
    height: 100vh;
    margin-bottom: var(--spacing4);

}

.banner-title {
    margin: 0;
}

/* Texte bienvenue du Landing */

h1 {
    color: var(--light-color);
    text-shadow: 5px 5px var(--dark-color);
    font-size: 200px;
    font-family: var(--first-font-familly);
    font-weight: 500;
}

/*début du footer*/
footer {
    margin-top: calc(4 * var(--spacing4));
}

/*les liens logos*/

.wrapper {
    display: flex;
    justify-content: center;
  }

  svg {
      fill: var(--dark-color);
  }

  .wrapper .icon {
    position: relative;
    background-color:var(--light-color);
    border-radius: 50%;
    padding: 6px;
    margin: 5px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px var(--secondary-color);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  
  .wrapper .tooltip {
      display: flex;
      align-items: center;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper a{
      height: 16px;
      width: 16px;
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: var(--secondary-color);
    color: var(--light-color);
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color:#a38dcf;
    color: var(--light-color);
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: var(--light-color);
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: var(--primary-color);
    color: var(--light-color);
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: var(--light-color);
  }

/*texte du footer*/

.texte-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--dark-color);
    font-size: var(--textesize-footer);
    font-family: var(--first-font-familly);
    font-weight: 600;
    margin-top: var(--spacing3);

}

/* media queries  */

@media screen and (max-width: 920px) {
    .menu {
        display: none;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #271C3D;
    }

    .header {
        padding-left: var(--spacing);
        padding-right: var(--spacing);
    }

    .banner {
        margin: 0;
        height: 30vh;
        background-position: center;
    }

    .banner-title {
        justify-content: flex-start;
    }

    h1 {
        font-size: 50px;
        font-weight: 900;
        text-shadow: 1em 1em #333;
    }


}

@media screen and (min-width: 920px) {
    .burger {
        display: none;
    }
}